<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div id="cloud-tie-wrapper" class="cloud-tie-wrapper" th:fragment="comment"></div>
<script th:inline="javascript">
    var cloudTieConfig = {
        url: document.location.href,
        sourceId: [[${post.id}]],
        productKey: "048ce60f5bfa4489a79078e48af06fe5",
        target: "cloud-tie-wrapper"
    };
</script>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
</body>
</html>